.container {
  max-width: 1140px;
  margin: auto;
}

.app-prefectures-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-prefectures-item {
  flex: calc(100%/6) 0;
}